// Define variables for your color scheme

// For example:
$red: #FD1015;
$wine: #A63D40;
$blue: #0D6EFD;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$dark-green: #3B4F52;
$light-brown: #B7AD99;
$beige: #D0CEBA;
$gray: #0E0000;
$light-gray: #F4F4F4;
$gold: #CBB26A;
$gold-hover: #bda561;
$body: #F1F1ED;
