// Specific CSS for your home-page
html * {
  font-family: 'Inter', sans-serif;
  h1 {
    font-weight: 700;
    color: $gold;
  }

  h2, h3 {
    font-weight: 600;
    color: $gold;

  }
  h4 {
    font-weight: 500;
    color: $dark-green;
    font-family: 'Montserrat', sans-serif !important;
  }

  h5 {
    font-family: 'Montserrat', sans-serif !important;
    color: $dark-green;
  }

  p, span {
    font-weight: 300  ;
  }
}
body {
  padding-top: 56px;
}
.text-light {
  color: $text-light !important;
}
.text-brown {
  color: $light-brown;
}
.text-green {
  color: $dark-green;
}
.text-wine {
  color: $wine;
}
.float-right {
  float: right;
}
.fw-500 {
  font-weight: 500 !important;
}
.fw-300 {
  font-weight: 300 !important;
}
.px-70 {
  padding-left: 70px;
  padding-right: 70px;
}
.max-w-300{
  max-width: 300px;
}
.pl-12 {
  padding-left: 12px;
}
.center {
  text-align: center;
}
.fixed {
  position: fixed;
}
