.simple-calendar {
  table {
    min-height: 80vh;
  }
  .today {
    background-color: #FAF3DD;
  }
}

.calendar-title {
  color: purple;
}

.available {
  color: white;
  padding: 4px 4px;
  border-radius: 4px;
  background: #5bc48c;
  transition: background 0.3s ease;
  font-size: 14px;
  text-align: center;

  p {
    margin: 0px;
  }
}
.month_available {
  color: white;
  padding: 4px 4px;
  border-radius: 4px;
  background: #5bc48c;
  transition: background 0.3s ease;
  font-size: 16px;
  text-align: center;
  margin: 6px 0;
  p {
    margin: 0px;
  }
}

.booking {
  color: white;
  padding: 4px 4px;
  border-radius: 4px;
  background: #bc3535;
  transition: background 0.3s ease;
  font-size: 14px;
  text-align: center;

  p {
    margin: 0px;
  }
}
.month_booking {
  color: white;
  padding: 4px 4px;
  border-radius: 4px;
  background: #bc3535;
  transition: background 0.3s ease;
  font-size: 12px;
  text-align: center;

  p {
    margin: 0px;
  }
}

.available:hover {
  background: #53b480;
  color: white;
}
.month_available:hover {
  background: #53b480;
  color: white;
}
.booking:hover {
  background: #a52f2f;
  color: white;
}
.month_booking:hover {
  background: #a52f2f;
  color: white;
}
.selected {
  color: #53b480;
  padding: 4px 4px;
  border-radius: 4px;
  background: #5bc48c;
  transition: background 0.3s ease;
  font-size: 14px;
  text-align: center;

  p {
    margin: 0px;
  }
}
.month_selected {
  color: #53b480;
  padding: 4px 4px;
  border-radius: 4px;
  background: #5bc48c;
  transition: background 0.3s ease;
  font-size: 12px;
  text-align: center;

  p {
    margin: 0px;
  }
}
.left-30 {
  width: 290px;
  float: left;
  padding: 20px;
}
.right-70 {
  float: right;
  padding-top: 40px;
  margin-right: 60px;
  flex: 1;
}
.link {
  text-decoration: underline;
  font-family: "montserrat",sans-serif;
  float: right;
}
.link:hover {
  color: $wine;
}
.fr {
  float: right;
}
#overlay-left {
  position: fixed; /* Sit on top of the page content */
  display: none; /* Hidden by default */
  //width: 30%; /* Full width (cover the whole page) */
  height: 100%; /* Full height (cover the whole page) */
  top: 56px;
  left: -900px;
  bottom: 0;
  background-color: rgba(250,250,247,0.9); /* Black background with opacity */
  z-index: 2; /* Specify a stack order in case you're using a different order for other elements */
  cursor: pointer; /* Add a pointer on hover */
  padding: 20px 60px;
  animation: slideleft 800ms forwards;
  animation-delay: 200ms;
  overflow: auto;
  max-width: 350px;
}

@keyframes slideleft {
  100% { left: 0; }
}

#overlay-right {
  position: fixed; /* Sit on top of the page content */
  display: none; /* Hidden by default */
  width: 30%; /* Full width (cover the whole page) */
  height: 100%; /* Full height (cover the whole page) */
  top: 56px;
  right: -900px;
  bottom: 0;
  background-color: rgba(250,250,247,0.9); /* Black background with opacity */
  z-index: 2; /* Specify a stack order in case you're using a different order for other elements */
  cursor: pointer; /* Add a pointer on hover */
  padding: 20px 60px;
  animation: slideright 800ms forwards;
  animation-delay: 200ms;
  overflow: auto;
  max-width: 350px;
}
@keyframes slideright {
  100% { right: 0; }

}
.datepicker {
  height:25px;
  font-weight:300;
  width: 100px;
  text-align: center;
}
.schedule {
  p {
    margin-bottom: 0;
    color: $text-light;
    font-weight: 300;
  }
}
