.white {
  background: $white;
  opacity: 0.9;
  // padding: 20px;
  color: black;
  min-height: 95vh;
}
.left {
  margin-right: 450px;
}
.pad-20 {
  padding: 20px;
}
.pad-left-12 {
  padding-left: 12px;
}
.pad-left-50 {
  padding-left: 50px;
}
