.search-bar {
  width: 380px;
  height: 40px;
  border-radius: 50px;
  background-color: $light-beige;
  padding-left: 40px;
  box-shadow: rgba(0, 0, 0, 0.35) 2.4px 2.4px 3.2px;
  border: none;
}
.input-icons i {
  position: absolute;
}

.input-icons {
  width: 100%;
  margin-bottom: 10px;
}

.icon {
  padding: 12px;
  min-width: 40px;
}
